*{
  background-color: black;
  font-family: "Helvetica Neue";
}

#watch{
  border-radius: 50%;
  width: 90vmin;
  height: 90vmin;
  position: relative;
  background-color: black;
  box-shadow: 0px 0px 0px 2px #FAF;
  animation: pulse 5s linear;
}

.hand-container{
  height: 100%;
  position: absolute;
  width: 100%;
  background-color: rgba(0,0,0,0);
  transform-origin: 50% 50%;
}

.hand{
  position: absolute;
  border-radius: 20px;
  left: 50%;
  transform-origin: 50% 100%;
}

#seconds .hand{
  width: 1%;
  height: 45%;
  top: 5%;
  margin-left: -0.5%;
  background-color: black;
  right: 0.15%;
  box-shadow: 0px 0px 0px 3px #DD763A;
  animation: rotate 60s linear infinite;
}

#minutes .hand{
  width: 2%;
  height: 35%;
  top: 15%;
  margin-left: -1%;
  background-color: black;
  box-shadow: 0px 0px 0px 3px #5DCFE1;
  animation: rotate 3600s linear infinite;
}

#hours .hand{
  width: 3%;
  height: 25%;
  top: 25%;
  margin-left: -1.5%;
  background-color: black;
  box-shadow: 0px 0px 0px 3px #49B847;
  animation: rotate 43200s linear infinite;
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  25%{
    box-shadow: 0px 0px 0px 3px #FAF;
  }
  75%{
    box-shadow: 0px 0px 0px 1px #FAD;
  }
}